aiocoap==0.4.3
aiohttp==3.8.1
aiosignal==1.2.0
altair==5.5.0
amply==0.1.4
argon2-cffi==21.1.0
asgiref==3.4.1
async-timeout==4.0.1
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.13.4
bleach==4.1.0
blinker==1.9.0
brewer2mpl==1.4.1
cachetools==6.1.0
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
cycler==0.11.0
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
distlib==0.3.4
Django==4.0.1
docutils==0.18.1
draft-kings==3.1.0
entrypoints==0.3
filelock==3.4.2
Flask==2.0.2
fonttools==4.28.3
frozenlist==1.2.0
ggplot==0.11.5
gitdb==4.0.12
GitPython==3.1.44
gql==2.0.0
graphql-core==2.3.2
idna==3.3
importlib_metadata==8.7.0
ipykernel==6.3.1
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==7.6.4
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.2
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.1
kiwisolver==1.3.2
markdown-it-py==3.0.0
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
matplotlib==3.5.1
matplotlib-inline==0.1.2
mdurl==0.1.2
mistune==0.8.4
multidict==5.2.0
narwhals==1.47.1
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.3
numpy==1.21.4
optional-django==0.3.0
packaging==21.0
pandas==1.3.5
pandocfilters==1.4.3
parso==0.8.2
patsy==0.5.2
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.1
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.20.3
PuLP==2.4
pyarrow==21.0.0
pycparser==2.20
pydeck==0.9.1
pydfs-lineup-optimizer==3.6.1
Pygments==2.19.2
Pympler==1.1
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.3
pywin32==301
pywinpty==1.1.4
pyzmq==22.2.1
qtconsole==5.1.1
QtPy==1.11.0
react==4.3.0
requests==2.26.0
rich==14.0.0
Rx==1.6.1
scipy==1.7.3
semver==3.0.4
Send2Trash==1.8.0
sites==0.0.1
six==1.16.0
smmap==5.0.2
soupsieve==2.7
sqlparse==0.4.2
statsmodels==0.13.1
streamlit==1.12.0
terminado==0.11.1
testpath==0.5.0
toml==0.10.2
tornado==6.1
traitlets==5.1.0
typing_extensions==4.14.1
tzdata==2021.5
tzlocal==5.3.1
urllib3==1.26.7
utils==1.0.1
validators==0.35.0
virtualenv==20.13.0
watchdog==6.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.1
yarl==1.7.2
yelpapi==2.4.0
zipp==3.23.0
